server = true
bootstrap_expect = 3

datacenter = "{{ datacenter }}"
data_dir   = "/var/lib/consul"
bind_addr  = "{{ ansible_host }}"
client_addr = "0.0.0.0"

start_join = [
  {%- for host in groups['servers'] -%}
    "{{ hostvars[host]['ansible_host'] }}"{% if not loop.last %},{% endif %}
  {%- endfor -%}
]

ui_config {
  enabled = true
}